@page "/home"
@inject IStateAndPriorityService _statesAndPriorities
@inject IActiveTaskService _activeTasks
@inject ICompletedTasksService _completedTasks
@inject IOverdueTasksService _overdueTasks
@inject ICanceledTasksService _canceledTasks

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        DateTime dateTime = DateTime.Today;
        // Load active tasks and states/priority data
        await _statesAndPriorities.LoadStatesAsync();

        await _statesAndPriorities.LoadPrioritiesAsync();

        // Load active tasks
        await _activeTasks.LoadActiveTasks();

        await _completedTasks.LoadCompletedTasks();

        await _overdueTasks.LoadOverdueTasks(dateTime);

        await _canceledTasks.LoadCanceledTasks();
        _isLoading = false;
    }
}
